
<!Doctype HTML>
<html>
    <link href="CSS/mainbody.css" rel="stylesheet" type="text/css"/>
    <link href="CSS/menu.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
<title>Studio Cinema</title>
    <style type="text/css"/>
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margine-bottom: 0px;
    }
    </style>
</head>    
<body>
    <div id="Container">
    <div id="Header">
    <h1>Studio Cinema</h1>
        </div>
    <div id="Menu">
    <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Now Playing </a></li>
        <li><a href="#"> Coming Soon </a></li>
        <li><a href="#"> About Us </a></li>
        <li><a href="#"> Location </a></li>
    </ul>
        
        
        </div>
    <div id="MainBody"></div>
    <div id="Footer"></div>
    
</div>
</body>
</html>
