#Menu {
    height: 60px;
    background-color: crimson;
}

#Menu ul {
    margin: 0;
    padding: 0;
}

#Menu li {
    list-style-type: none;
    float: left;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-family: sans-serif;
    font-size: 17px;
}

#Menu li a {
    text-decoration: none;
    color: white;
    
    
}

#Menu li:Hover {
    background-color: chocolate;
    
    
}